extends layout

include mixins/_location

block content
	.map.col-12.col-md-6.flex-column.d-flex
		.row
			.flex-fill
				+location()
		.row.flex-grow-1
			#map
				p Loading Map...
	.results.col-12.col-md-6
		.row
			ul.list-group.flex-fill
	audio#audio-player