html, body {
    height: 100%;
    //padding: 1em;
}

input {
    width: 100%;
}

.container-fluid {
    overflow: hidden;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

.show-border {
    border-style: solid;
    border-color: blue;
}

.nav-col {
    padding: 0;
    padding-bottom: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

label {
    margin-top: 30px;
}

.map {
  padding: 30px;
  padding-top: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05); }

#map {
    height: 100%;
    width: 100%;
}